# Virtual environemment 
venv/
.env/
.venv/

# Python compiled file
__pycache__/
*.py[cod]

# Logs
*.Log
.logs/

# VScode
.vscode/

# OS
.DS_Store
Thumbs.db

# Build / install artifacts
*.egg-info/
build/
dist/

# DATA
raw_data/
